#############################
## Eclipse / Visual Studio ##
#############################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# node modules
node_modules

# sass
.sass-cache

# build
build
**/version.txt
deploy

# public
public

# prepros
prepros.cfg

# bower
bower_components

#build
*.zip

.temp
pogo.*/
*/*/pogo.*/
**/*.log